h1 {
    text-align: center;
   
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

li {
    width: 14.28%;
    text-align: center;
    border: 1px, solid white;
    padding: 10px;
    box-sizing: border-box;
    background-color: skyblue;
}
